version: '3.4'

services:

  bookstoreapi:
    image: ${DOCKER_REGISTRY-}bookstoreapi
    build:
      context: .
      dockerfile: BookStoreApi/Dockerfile
    depends_on:
      - mongo
    ports:
      - 8001:80

  mongo:
    image: mongo
    restart: always

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    depends_on:
      - mongo